@media only screen and (min-width: 1920px) {
    #main {
      background: url("https://cdn.pixabay.com/photo/2020/03/09/16/02/silk-4916174_1280.jpg")
        no-repeat;
      height: 1080px;
    }
    .nav-item,
    .navbar-nav {
      margin: 20px;
    }
    #name {
      font-size: 6.5rem;
    }
  }
  
  @media screen and (min-width: 1366px) and (max-width: 1919px) {
    #main {
      background: url("https://cdn.pixabay.com/photo/2020/03/09/16/02/silk-4916174_1280.jpg")
        no-repeat;
      height: 768px;
    }
    .nav-item,
    .navbar-nav {
      margin: 20px;
    }
    #name {
      font-size: 6.5rem;
    text
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1365px) {
    #main {
      background: url("https://cdn.pixabay.com/photo/2020/03/09/16/02/silk-4916174_1280.jpg")
        no-repeat;
      height: 800px;
    }
    .nav-item,
    .navbar-nav {
      margin: 20px;
    }
    #name {
      font-size: 6.5rem;
        text-align: center;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    #main {
      background: url("https://cdn.pixabay.com/photo/2020/03/09/16/02/silk-4916174_1280.jpg")
        no-repeat;
      height: 1024px;
    }
    #name {
      font-size: 3.5rem;
 text-align: center;
    }
  }
  
  @media only screen and (max-width: 767px) {
    #main {
      background: url("https://cdn.pixabay.com/photo/2020/03/09/16/02/silk-4916174_1280.jpg")
        no-repeat;
      height: 736px;
    }
    #name {
      font-size: 3.5rem;
      margin-left: 20px !important;
         text-align: center;
    
    }
    .line-1 {
      margin-left: 20px !important;
    }
  }
  
  #main {
    background-size: cover;
  }
  
  .navbar-nav {
    font-size: 2rem;
  }
  
  #about,
  #contact {
    background-color: #e9ecefb3;
  }
  
  .aboutHeading {
    font-size: 4rem;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  
  .aboutPG {
    font-size: 2rem;
    padding-bottom: 100px;
    padding-top: 48px;
  }
  
  /*Text Font */
  
  #name {
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    
  }
  
  /* Global */
  .line-1 {
    position: relative;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    margin-left: 70px;
    margin-top: 20px;
  }
  
  /* Animation */
  
  .anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(46) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 45em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  
  form {
    padding-bottom: 100px;
    padding-top: 48px;
  }
  
  /*Footer*/
  
  html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #484848;
  }
  
  .footer-text {
    color: white;
  }
  
  /*Submit Button*/
  .btn {
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    position: relative;
    transition: all 0.15s ease-in-out;
    background-color:burlywood;
  }
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn:active:focus {
    outline: none;
    transition: all 0.15s ease-in-out;
  }
  .btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-in-out;
    transform: translateY(-1px);
  }
 .btn-primary {
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    position: relative;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
  }
  
  .btn:focus,
  .btn:active,
  .btn:active:focus {
    outline: none;
    transition: all 0.15s ease-in-out;
  }
  .btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-in-out;
    transform: translateY(-1px);
  }

  /*Project Cards*/
  .card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 150px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: "";
    top: 151px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 70px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(400px - 8vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
  
  .card-custom-avatar img {
    border-radius: 20%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.2);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }
  
  .card-custom-avatar img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  
  #project1 {
    background: #21d4fd linear-gradient(19deg, #354e54 0%, #b14be1 100%);
  }
  
  #project2 {
    background: #fad961 linear-gradient(90deg, #27251f 0%, #0a0448 100%);
  }
  
  #portfolio {
    background: #bad35f linear-gradient(80deg, #2d4445 0%, #63c2c7 100%);
  }
  
  #projectCards {
    margin-bottom: 100px !important;
  }

  h3{text-align: center;color:#2a1602}
  h1{color:#3d2213b3;  text-align: center;}
  h2{color:#2a1602}
  p{color:#2a1602}
  a{background-color: #2a1602;}
  .btn-primary{background-color: transparent;}
